<div class="card text-center">
  <div class="card-header">
    E-mail
  </div>

      <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Send an e-mail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Upload file</a>
      </li>
         <li class="nav-item">
        <a class="nav-link disabled">De: morenomunozjuanpablo.inem@gmail.com</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Para: samuelestebangonzales.inem@gmail.com</a>
      </li>
    </ul>
  <div class="card-body">
    <h5 class="card-title">Writing e-mail...</h5>
    <p class="card-text">Hi, Sam, 
Colombia could be a country of your liking, you can get to know different cities, big or small, hot or cold, meet lots of nice people.
What do you think if you travel here and we go to Bogota, it is a cold and big city, we would have to go with long pants, a coat, a hat and gloves for our hands, Or we could also travel to Barranquilla, it is a sunny city, with nice beaches, and we should go with shorts, a t-shirt and sneakers, last we could travel to Cali, it has a very cool climate, we could dress with shorts, a shirt, a hat and shoes, maybe eat an ice cream...
If you want to do any of those things, please write me, see you later Sam.</p>
    <a href="#" class="btn btn-primary">Send E-mail</a>
  </div>
  <div class="card-footer text-muted">
    Updated 2 seconds ago
  </div>

</div>